.linkContainer {
}

.linkContainer > a {
    text-decoration: none;
    color: #222;
}

.linkContainer > a:before {
    content: '\21D0';
    padding-right: 10px;
    font-size: 22px;
    font-weight: bold;
}

.linkContainer > a:hover {
    font-weight: bold;
}

