body {
    margin: 0;
    padding: 0;
}

.wrapPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: #222;
}

.profile {
    width: 1200px;
    position: relative;
}

.profileInfoContainer {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.profileTitle {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 25px;
}

.profileText {
    font-size: 20px;
    letter-spacing: .1rem;
}

.whiteText {
    color: white;
}

.blackText {
    color: #222;
}

