.profileSkillsInfoContainer {
    padding: 100px 20px 20px 45%;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 20px;
}

.btnProjectsLink {
    width: 200px;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background: rgb(107, 153, 153);
    color: white;
    font-size: 20px;
}

.btnProjectsLink:hover {
    font-weight: bold;
    background: rgba(107, 153, 153, 60%);
}

.skillUnit {
    margin-bottom: 25px;
}

.skillTitle {
    font-weight: bold;
}


