.singleProjectDetailsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.singleProject {

}

.singleProjectImg {

}

.singleProjectInfo {

}

.singleProjectInfoDescription {

}

.singleProjectInfoStack {

}

.singleProjectInfoLinks {

}


