.singleProjectContainer {
    box-sizing: border-box;
    padding: 10px;
    width: 700px;
    border-bottom: 2px solid rgb(107, 153, 153);

    display: flex;
    column-gap: 40px;
}

.singleProjectImg {
    width: 200px;
    height: 160px;
}

.singleProjectImg > img {
    width: inherit;
    height: inherit;
}

.singleProjectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #222222;
}

.singleProjectTitle {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .singleProjectContainer {
        width: 85%;
    }
}
