.profileCommonInfoContainer {
    background: rgba(107, 153, 153);
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100px;

    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
