.profileCommonInfoContainer {
  background: rgba(107, 153, 153);
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;

  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

@media only screen and (max-width: 768px) {
  .profileCommonInfoContainer {
    width: 95%;
    height: max-content;
    padding: 20px 0;
    position: static;
    flex-direction: row;
    column-gap: 20px;
  }
}
